@CHARSET "UTF-8";

body {
    font-family: "Verdana", sans-serif;
    font-size: 11pt;
    color: rgba(25, 2, 168, 0.85);
    margin: 30px 0px;
    padding: 0px;
    text-align: left;
}
#container {
    width: 600px;
    height: 600px;
    padding: 15px;
    border: 1px solid #333;
    background-color: #eee;
    margin: 0px auto;
}

.insert-coins{
    width: 30px;
    margin-left: 5px;
}
.contrl-btn{
    width: 100px;
}
.coin-push{
    width: 40px;
    margin-left: 15px;
}

#left-content {
    clear: left;
    float: left;
    width: 350px;
    padding: 0.5em;
    margin: 0;
    display: inline;
}
#right-content {
    float: right;
    width:200px;
    padding: 0.5em;
    display: inline;
    margin-top: 150px;

}